@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
  .mob-menu .social-list {
    gap: 56px;
  }
  .modal {
    width: 392px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    text-align: start;
    margin-bottom: 0;
  }

  .hero-title {
    text-transform: capitalize;
  }

  .features-list-item > .section-subtitle {
    text-align: center;
  }

  .footer > .container {
    align-items: center;
  }

  .footer-text {
    align-items: center;
  }

  .footer-social > .section-text {
    text-align: center;
  }

  .subscribe > .section-text {
    text-align: center;
  }

  .close-btn {
    margin-right: 8px;
  }

  /* Portfolio*/

  .portfolio.section {
    padding-bottom: 48px;
  }
  .examples-list {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 72px;
  }

  .container {
    width: 768px;
  }

  .open-menu-btn {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-link {
    position: relative;
    height: 100%;

    font-weight: 500;
    color: var(--main-color, #2e2f42);
  }

  .nav-link:is(:hover, :focus),
  .contacts-link:is(:hover, :focus) {
    color: var(--active-color, #404bbf);
  }

  .nav-link.current {
    color: var(--active-color, #404bbf);
  }

  .nav-link.current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -24px;

    height: 4px;
    background: var(--active-color, #404bbf);
    border-radius: 2px;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .contacts-link {
    display: block;
    transition: color var(--anim-time);
  }

  .hero {
    height: 436px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tab-bg.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/img-2x/tab-bg-2x.jpg);
    }
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/img-3x/tab-bg-3x.jpg);
    }
  }

  .hero-container {
    padding-right: 136px;
    padding-left: 136px;
  }

  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--mob-gap, 72px) var(--main-gap, 24px);
  }

  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px var(--main-gap, 24px);
  }

  .customers-list {
    gap: var(--mob-gap, 72px) var(--main-gap, 24px);
  }

  .customers-list-item > a {
    width: 168px;
  }

  .icon-customers {
    display: block;
  }

  .mob-icon-customers {
    display: none;
  }

  .footer > .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-text {
    max-width: 264px;
  }

  .subscribe-field {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--main-gap, 24px);
  }

  .subscribe label {
    width: 264px;
  }

  .modal {
    width: 408px;
    padding: 24px;
  }

  /* Portfolio*/

  .portfolio.section {
    padding-top: 64px;
  }
  .btn-list {
    justify-content: center;

    margin-bottom: 64px;
  }
  .btn-filter {
    height: 48px;
    padding: 12px 24px;
  }
  .examples-list {
    gap: 72px 24px;
  }
  .examples-list-item > .link:is(:hover, :focus) > .card-text {
    border: none;
  }
}

@media screen and (max-width: 1157px) {
  .header > .container {
    justify-content: space-between;
  }

  .features-list-item > .section-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
  }

  .features-list-item > .section-text {
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .contacts-list {
    gap: 12px;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .footer > .container {
    padding: 0 108px;
    gap: var(--mob-gap, 72px) var(--main-gap, 24px);
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    width: 1158px;
    padding: 0 15px;
  }

  .logo {
    margin-right: 76px;
  }

  .header-nav {
    margin-right: auto;
  }

  .contacts-list {
    flex-direction: row;
  }

  .hero {
    height: 600px;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-bg.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/img-2x/desktop-bg-2x.jpg);
    }
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/img-3x/desktop-bg-3x.jpg);
    }
  }

  .hero-container {
    padding-right: 472px;
    padding-left: 472px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .features-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--accent-color, #f4f4fd);
    border-radius: 4px;

    margin-bottom: 8px;
  }

  .direction {
    display: block;
    padding-top: 0;
  }

  .direction-list {
    display: flex;
    gap: var(--main-gap, 24px);
  }

  .direction-list > li {
    width: calc((100% - 48px) / 3);
  }

  .footer.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer > .container {
    flex-wrap: nowrap;
    align-items: stretch;
    gap: unset;
  }

  .footer-text {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }

  .subscribe input {
    border-color: var(--main-bg-color, #ffffff);
  }

  .subscribe input::placeholder {
    color: var(--main-bg-color, #ffffff);
  }

  /* Portfolio*/

  .portfolio.section {
    padding-top: 100px;
  }
  .btn-list {
    margin-bottom: 72px;
  }
  .examples-list {
    gap: calc(2 * var(--main-gap, 24px)) var(--main-gap, 24px);
  }
  .examples-list-item .card-text {
    border: 1px solid var(--border-color, #e7e9fc);
  }
  .examples-list-item > .link:is(:hover, :focus) > .card-text {
    border-color: var(--accent-color, #f4f4fd);
  }
}
