:root {
  --main-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #f4f4fd;
  --main-bg-color: #ffffff;
  --main-hero-color: #ffffff;
  --logo-color: #4d5ae5;
  --active-color: #404bbf;
  --border-color: #e7e9fc;
  --customers-color: #8e8f99;
  --main-gap: 24px;
  --mob-gap: 72px;
  --anim-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul,
ol,
li,
button {
  padding: 0;
  background-color: transparent;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--text-color, #434455);
  background-color: var(--main-bg-color, #ffffff);
  font-family: 'Roboto', sans-serif;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color, #2e2f42);

  margin-bottom: 72px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color, #2e2f42);
  margin-bottom: 8px;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Header */

.header {
  height: 70px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color, #e7e9fc);
  -webkit-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  color: var(--logo-color, #4d5ae5);

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  color: var(--main-color, #2e2f42);
}

.open-menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-menu {
  stroke: var(--main-color, #2e2f42);
}

.header-nav {
  display: none;
}

.contacts {
  display: none;
}

/* Mobile Menu */

.mob-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px 24px 40px 40px;
  background-color: var(--main-bg-color, #ffffff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: opacity var(--anim-time), visibility var(--anim-time),
    -webkit-transform var(--anim-time);
  transition: opacity var(--anim-time), visibility var(--anim-time),
    -webkit-transform var(--anim-time);
  -o-transition: transform var(--anim-time), opacity var(--anim-time),
    visibility var(--anim-time);
  transition: transform var(--anim-time), opacity var(--anim-time),
    visibility var(--anim-time);
  transition: transform var(--anim-time), opacity var(--anim-time),
    visibility var(--anim-time), -webkit-transform var(--anim-time);
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.menu-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 32px;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  fill: var(--main-color, #2e2f42);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--border-color, #e7e9fc);

  -webkit-transition: background-color var(--anim-time),
    border-color var(--anim-time), fill var(--anim-time);

  -o-transition: background-color var(--anim-time),
    border-color var(--anim-time), fill var(--anim-time);

  transition: background-color var(--anim-time), border-color var(--anim-time),
    fill var(--anim-time);
}

.menu-close-btn:is(:hover, :focus) {
  background-color: var(--active-color, #404bbf);
  fill: var(--main-hero-color, #ffffff);
  border-color: transparent;
}

.menu-nav {
  margin-bottom: 40px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}

.nav-link {
  display: block;
  font-weight: 700;
  -webkit-transition: color var(--anim-time);
  -o-transition: color var(--anim-time);
  transition: color var(--anim-time);
}

.nav-link:is(:hover, :focus),
.contacts-link:is(:hover, :focus) {
  color: var(--active-color, #404bbf);
}

.nav-link.current {
  color: var(--active-color, #404bbf);
}

.menu-contacts {
  font-style: normal;
  margin-bottom: 48px;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}

.contacts-link.section-title {
  font-weight: 700;
  color: var(--logo-color, #4d5ae5);
}

.contacts-link.section-subtitle {
  margin-bottom: 0px;
  color: var(--text-color, #434455);
  -webkit-transition: color var(--anim-time);
  -o-transition: color var(--anim-time);
  transition: color var(--anim-time);
}

.contacts-link.section-subtitle:is(:hover, :focus) {
  color: var(--active-color, #404bbf);
}

.mob-menu .social-list {
  gap: 12%;
}

/* Main */
/* Hero */

.hero {
  height: 432px;
  max-width: 428px;
  /* padding-top: 112px;
  padding-bottom: 112px; */
  margin: 0 auto;

  background-color: var(--main-color, #2e2f42);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(46, 47, 66, 0.7)),
      to(rgba(46, 47, 66, 0.7))
    ),
    url(../images/mob-bg.jpg);
  background-image: -o-linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob-bg.jpg);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(46, 47, 66, 0.7)),
        to(rgba(46, 47, 66, 0.7))
      ),
      url(../images/img-2x/mob-bg-2x.jpg);
    background-image: -o-linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-2x/mob-bg-2x.jpg);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-2x/mob-bg-2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (-o-min-device-pixel-ratio: 3/1),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(46, 47, 66, 0.7)),
        to(rgba(46, 47, 66, 0.7))
      ),
      url(../images/img-3x/mob-bg-3x.jpg);
    background-image: -o-linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-3x/mob-bg-3x.jpg);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-3x/mob-bg-3x.jpg);
  }
}

.hero-container {
  text-align: center;
  margin: 0 auto;
}

.hero-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-hero-color, #ffffff);
  letter-spacing: 0.02em;
}

.hero-btn {
  background-color: var(--logo-color, #4d5ae5);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-hero-color, #ffffff);

  padding: 16px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--anim-time);
  -o-transition: background-color var(--anim-time);
  transition: background-color var(--anim-time);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--active-color, #404bbf);
}

/* Features */

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--mob-gap, 72px);
}

.icon-bg {
  display: none;
}

/* Direction */

.direction {
  display: none;
}

/* Card of team */

.team-cards {
  background-color: var(--accent-color, #f4f4fd);
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--mob-gap, 72px);
}

.cards-list-item {
  -ms-flex-preferred-size: 264px;
  flex-basis: 264px;
  background-color: var(--main-bg-color, #ffffff);
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.card-text {
  padding: 32px 16px;
}

.cards-list-item .section-text {
  margin-bottom: 8px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--main-gap, 24px);
}

.social-list-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  border-radius: 50%;
  width: 40px;
  height: 40px;

  background-color: var(--logo-color, #4d5ae5);
  -webkit-transition: background-color var(--anim-time);
  -o-transition: background-color var(--anim-time);
  transition: background-color var(--anim-time);
}

.social-list-item > a:is(:hover, :focus) {
  background-color: var(--active-color, #404bbf);
}

/* Customers */

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: var(--mob-gap, 72px) 16px;
}

.customers-list-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  border: 1px solid var(--customers-color, #8e8f99);
  border-radius: 4px;
  width: 190px;
  height: 88px;

  fill: var(--customers-color, #8e8f99);
  -webkit-transition: border-color var(--anim-time), fill var(--anim-time);
  -o-transition: border-color var(--anim-time), fill var(--anim-time);
  transition: border-color var(--anim-time), fill var(--anim-time);
}

.customers-list-item > a:is(:hover, :focus) {
  border-color: var(--active-color, #404bbf);
  fill: var(--active-color, #404bbf);
}

.icon-customers {
  display: none;
}

/* Portfolio*/

.portfolio.section {
  padding-top: 48px;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px var(--main-gap, 24px);

  margin-bottom: 48px;
}

.btn-filter {
  height: 40px;
  background-color: var(--accent-color, #f4f4fd);
  padding: 8px 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color, #4d5ae5);

  border: 1px solid var(--border-color, #e7e9fc);
  border-radius: 4px;
  -webkit-transition: color var(--anim-time), background-color var(--anim-time),
    border-color var(--anim-time), -webkit-box-shadow var(--anim-time);
  transition: color var(--anim-time), background-color var(--anim-time),
    border-color var(--anim-time), -webkit-box-shadow var(--anim-time);
  -o-transition: color var(--anim-time), background-color var(--anim-time),
    border-color var(--anim-time), box-shadow var(--anim-time);
  transition: color var(--anim-time), background-color var(--anim-time),
    border-color var(--anim-time), box-shadow var(--anim-time);
  transition: color var(--anim-time), background-color var(--anim-time),
    border-color var(--anim-time), box-shadow var(--anim-time),
    -webkit-box-shadow var(--anim-time);
}

.btn-filter:is(:hover, :focus) {
  background-color: #404bbf;
  color: var(--main-hero-color, #ffffff);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 48px 0;
}

.examples-list-item > .link {
  display: block;

  -webkit-transform: scale(1);

  -ms-transform: scale(1);

  transform: scale(1);
  -webkit-transition: -webkit-transform var(--anim-time),
    -webkit-box-shadow var(--anim-time);
  transition: -webkit-transform var(--anim-time),
    -webkit-box-shadow var(--anim-time);
  -o-transition: transform var(--anim-time), box-shadow var(--anim-time);
  transition: transform var(--anim-time), box-shadow var(--anim-time);
  transition: transform var(--anim-time), box-shadow var(--anim-time),
    -webkit-transform var(--anim-time), -webkit-box-shadow var(--anim-time);
}

.examples-list-item > .link:is(:hover, :focus) {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.examples-list-item > .link {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.examples-list-item .card-text {
  border: 1px solid var(--accent-color, #f4f4fd);
  border-top: none;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  display: block;
  width: 100%;
  height: 100%;
  background-color: blue;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-time);
  transition: -webkit-transform var(--anim-time);
  -o-transition: transform var(--anim-time);
  transition: transform var(--anim-time);
  transition: transform var(--anim-time), -webkit-transform var(--anim-time);
  overflow: auto;
}

.examples-list-item > .link:is(:hover, :focus) .overlay-text {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.overlay-text > p {
  color: var(--accent-color, #f4f4fd);
  opacity: 0;
  -webkit-transition: opacity var(--anim-time);
  -o-transition: opacity var(--anim-time);
  transition: opacity var(--anim-time);
}

.examples-list-item > .link:is(:hover, :focus) .overlay-text > p {
  opacity: 1;
}

/* Footer */

.footer {
  background: var(--main-color, #2e2f42);
}

.footer > .container {
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--mob-gap, 72px);
}

.footer-text {
  max-width: 268px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-text > .logo {
  margin-bottom: 16px;
}

.footer-logo {
  color: var(--accent-color, #f4f4fd);
}

.footer-text > .section-text {
  color: var(--accent-color, #f4f4fd);
}

.footer-social > .section-text {
  color: var(--main-hero-color, #ffffff);
  margin-bottom: 16px;
}

.footer-social > .social-list {
  gap: 16px;
}

.footer-social a:is(:hover, :focus) {
  background-color: #31d0aa;
}

.subscribe {
  width: 100%;
}

.subscribe > .section-text {
  margin-bottom: 16px;
  color: var(--main-hero-color, #ffffff);
}

.subscribe-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}

.subscribe label {
  width: 100%;
  height: 40px;
}

.subscribe input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;

  color: var(--main-bg-color, #ffffff);
}

.subscribe input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe input::-moz-placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;

  border: none;
  background-color: var(--logo-color, #4d5ae5);
  border-radius: 4px;
  padding: 8px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-hero-color, #ffffff);
  fill: var(--main-hero-color, #ffffff);
  -webkit-transition: background-color var(--anim-time);
  -o-transition: background-color var(--anim-time);
  transition: background-color var(--anim-time);
}

.subscribe button:is(:hover, :focus) {
  background-color: var(--active-color, #404bbf);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  -webkit-transition: opacity var(--anim-time), visibility var(--anim-time);
  -o-transition: opacity var(--anim-time), visibility var(--anim-time);
  transition: opacity var(--anim-time), visibility var(--anim-time);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--anim-time);
  transition: -webkit-transform var(--anim-time);
  -o-transition: transform var(--anim-time);
  transition: transform var(--anim-time);
  transition: transform var(--anim-time), -webkit-transform var(--anim-time);

  width: calc(100% - 32px);
  min-height: 576px;
  background-color: #fcfcfc;
  padding: 24px 16px;

  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  -ms-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}

.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  fill: var(--main-color, #2e2f42);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--border-color, #e7e9fc);

  -webkit-transition: background-color var(--anim-time),
    border-color var(--anim-time), fill var(--anim-time);

  -o-transition: background-color var(--anim-time),
    border-color var(--anim-time), fill var(--anim-time);

  transition: background-color var(--anim-time), border-color var(--anim-time),
    fill var(--anim-time);
}

.close-btn:is(:hover, :focus) {
  background-color: var(--active-color, #404bbf);
  fill: var(--main-hero-color, #ffffff);
  border-color: transparent;
}

.form-title {
  font-weight: 500;
  text-align: center;
  color: var(--main-color, #2e2f42);
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 8px;
}

.form-field input,
.form-field textarea {
  width: 100%;
  height: 40px;
  padding: 11px 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--anim-time);
  -o-transition: border-color var(--anim-time);
  transition: border-color var(--anim-time);
}

.form-field input:focus,
.form-field textarea:focus {
  border-color: var(--logo-color, #4d5ae5);
}

.form-field input::-webkit-input-placeholder,
.form-field textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-field input::-moz-placeholder,
.form-field textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-field input:-ms-input-placeholder,
.form-field textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-field input::-ms-input-placeholder,
.form-field textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-field input::placeholder,
.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-thumb {
  position: relative;
}

.input-thumb svg {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: var(--main-color, #2e2f42);
  -webkit-transition: fill var(--anim-time);
  -o-transition: fill var(--anim-time);
  transition: fill var(--anim-time);
}

.input-thumb input:focus + svg {
  fill: var(--logo-color, #4d5ae5);
}

.form-field {
  height: 58px;
}

.form-field label {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color, #8e8f99);
}

.form-field.comment {
  height: 138px;
  margin-bottom: 16px;
}

.form-field textarea {
  height: 120px;
  padding: 8px 16px;
  resize: none;
}

.checkbox {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox input {
  position: absolute;
}

.checkbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  -webkit-transition: background-color var(--anim-time), fill var(--anim-time);
  -o-transition: background-color var(--anim-time), fill var(--anim-time);
  transition: background-color var(--anim-time), fill var(--anim-time);
}

.checkbox input:checked + .checkbox-item {
  background-color: var(--active-color, #404bbf);
  fill: var(--accent-color, #f4f4fd);
}

.checkbox-item + span {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color, #8e8f99);
}

.checkbox a {
  color: var(--logo-color, #4d5ae5);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.checkbox label {
  margin: 0;
}

.form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-hero-color, #ffffff);

  background-color: var(--logo-color, #4d5ae5);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--anim-time);
  -o-transition: background-color var(--anim-time);
  transition: background-color var(--anim-time);
}

.form button:is(:hover, :focus) {
  background-color: var(--active-color, #404bbf);
}
